body {
  justify-content: center;
  margin-left: 0;
}
.landingContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  margin: 8% auto 0 auto;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 8% auto 0 auto;
}
header {
  background: linear-gradient(0.45turn, #6cb2a0, #468677);
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
  text-shadow: 2px 2px 4px black;
}
.infoContainer {
  background: linear-gradient(0.95turn, #dfdfdf, #f6f6f648);
  text-align: center;
  border: black solid 5 px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
}
